#Start{
    padding: 20px;
    width:30%;
    border-color: rgb(91, 57, 123);
    background: linear-gradient(60deg,lightblue,#546f9c);
    box-shadow:0 3px #414141;

}
#Start:hover {background: linear-gradient(60deg,#a0bff2,#283a57)}

#Start:active{
    box-shadow: 0 1px #313030;
    transform: translateY(4px);
}
button{
    border-radius: 40px;
}

.container{
    padding: 15px;
}
#mainhead{
    width:50%;
}
#logo{
    transform: translateY(-20px);
    border-radius: 90px;
    width: 60px;
    height: 60px;
}
#mainpic{
    padding-top: 15px;
    width: 500px;
    height: 500px;
    object-fit: cover;
}
#pic2holder{
    display: flexbox;
    text-align: center;
    justify-content: center;
}
#mainpic2{
    margin: 10px 20px 0 0;
    padding: 50px;
    width:600px;
    border-radius: 20px;
}
#maintext{
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 98%;
    font-size: medium;
}
#logotext{
    font-size: large;
    font-weight: 300;
    color: whitesmoke;
}
#mainpara2{
    display: flexbox;
    text-align: center;
    justify-content: center;
}
#foot{
    padding: 20px 0 5px 0;
    margin:20px 0 5px 0;
    border-top: 3px solid #080808;
    border-left: 7px solid #080808;
    border-right: 7px solid #080808;
    text-align: center;
    background: linear-gradient(60deg,#283a57,#a0bff2,#283a57);
}
li:hover{
    background: #080808;
}
#textcenter{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size:medium;
    margin: auto;
    letter-spacing: 0.05em;
}
    
