nav{
    text-align: center;
    color: whitesmoke;
}
#thumbpic{
    width: 500px;
    height: 500px;
}
#logo{
    transform: translateY(-20px);
    border-radius: 90px;
    width: 60px;
    height: 60px;
}
#logotext{
    font-size: large;
    font-weight: 300;
    color: whitesmoke;
}
.container{
    padding: 15px;
}
li:hover{
    background: #080808;
}
