.headbutt{
  background: linear-gradient(60deg,lightblue,rgb(86, 201, 201));
}
.mainbutt{
  padding: 20px;
  border-color: rgb(91, 57, 123);
  background: linear-gradient(60deg,lightblue,lightpink);
}
button{
  border-radius: 40px;
}
.container{
  padding: 20px;
}
#mainhead{
  width:50%;
}
#logo{
  border-radius: 90px;
  width: 60px;
  height: 60px;
  margin: 2px;
}
#mainpic{
  padding-top: 15px;
  width: 150%;
  height: 150%;
}
#maintext{
  font-family: Georgia, 'Times New Roman', Times, serif;
  width: 98%;
}
.textdiv{
  vertical-align: middle;
  justify-content: center;
  align-items: center;
}
