#Start{
    padding: 20px;
    width:30%;
    border-color: rgb(91, 57, 123);
    background: linear-gradient(60deg,lightblue,lightpink);
    box-shadow:0 3px #414141;

}
#Start:hover {background: linear-gradient(60deg,rgb(111, 192, 219),rgb(238, 123, 140))}

#Start:active{
    box-shadow: 0 1px #313030;
    transform: translateY(4px);
}

#b1{
    background: linear-gradient(60deg,white,rgb(86, 201, 201));
}
#b2{
    background: linear-gradient(60deg,rgb(86, 201, 201),darkcyan);
}
#b1,#b2{
box-shadow:0 2px #414141;
}
#b1,#b2 :active{
    box-shadow:0 1px #414141;
    transform: translateY(2px);
}

#Start,#b2,#b1{
    color: navy;
    border-radius: 40px;
}

.container{
    padding: 20px;
}
#mainhead{
    width:50%;
}
#logo{
    border-radius: 90px;
    width: 60px;
    height: 60px;
    margin: 2px;
}
#mainpic{
    padding-top: 15px;
    width: 500px;
    height: 500px;
    object-fit: cover;
}
#maintext{
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 98%;
}
#quote{
    border-left-width: 3px;
    border-left-color: #2e2c2c;
}
    
